/metabase/plugins/googleanalytics.metabase-driver.jar
secretes/config.ini
data/output/*.xl*
**__pycache__**
nuvama/apiconnect.log
.idea/
.DS_Store
/metabase/plugins/*.jar
/nuvama/mfInstruments.zip
/nuvama/instruments.zip
/nuvama/data_1hEqmOmIh5_H2A.txt
/nuvama/instruments/
/nuvama/mfInstruments/
/optionTrading/instruments/
/optionTrading/mfInstruments/
/optionTrading/apiconnect.log
/optionTrading/data_1hEqmOmIh5_H2A.txt
/optionTrading/instruments.zip
/optionTrading/mfInstruments.zip
metabase/*.db
/logs
data/output/
