[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nsepy = "*"
matplotlib = "*"
ipython = "*"
xlsxwriter = "*"
tabulate = "*"
sympy = "*"
openpyxl = "*"
yfinance = "*"
nsepython = "*"
stopit = "*"
func-timeout = "*"
pywhatkit = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
